.footnote-supglyph .diamond {
	text-decoration: none;
	font-size: 10px;
	position: relative;
	top: -7px;
	color: #1d1d1f;
	font-weight: bolder;
}
.footnote-supglyph .diamond:hover {
	text-decoration: none;
	color: #2997ff;
}
.section-media-hero {
	margin-bottom: var(--ribbon-height);
}
